@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,400;1,600&family=Oleo+Script+Swash+Caps&display=swap');
body{ 

    margin: 0;
}

.title{ 
    color: rgb(0, 19, 126);
    font-family: "Montserrat";
    font-size: 100px;
}

.author{
    color: rgb(0, 19, 126);
    font-family: "Montserrat";

}

.headerdiv{ 
    text-align: center;

}

header{ 
    background-image: url(../images/hand-painted-watercolor-abstract-watercolor-background_23-2149009911.webp);
    background-size: cover;
   
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

}

section{ 
    height: 100vh;
    background-size: cover;
    background-image: url(../images/hand-painted-watercolor-abstract-watercolor-background_23-2149009911.webp);

}

p{ 
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(59, 59, 59);
}

li{ 
    font-size: 20px;
    color: rgb(59, 59, 59);
    font-family: "Montserrat";
}

h1{ 
    font-family: "Montserrat";

}


.sectiontitle{ 
    padding: 15px 10px; 
    text-align: center;
    color: rgb(0, 19, 126);
    font-family: 'Montserrat';
    
}
.section1{ 
    background-size: cover;
    background-attachment: fixed; 
    justify-content: center;
    align-items: center;
    display: flex;
  
    
}

.divs{ 
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 70vw; 
    height: 80vh;
    
    
}

.divs2{ 
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 70vw; 
    height: 10vh;
    
    
}

.divsec12{ 
   padding: 0px 30px;
   
}




.section2{ 

    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
   
}



.sec2div2{ 
    padding: 0px 30px;
}

.section3{ 
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display: flex;

}

.img1{ 
  
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/flood1.jpeg);
    background-position: bottom;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
}

.img1div{ 
    align-items: center;
    color: #ffffff;
}

.img2{ 
  
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/flood2.webp);
    background-position: bottom;


    

}

.img3{ 
   

    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/flood3.jpeg);

    

}

.section4{
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    background-attachment: fixed;


}




.section5{
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    background-attachment: fixed;


}

.floodgraph{
   
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/hand-painted-watercolor-abstract-watercolor-background_23-2149009911.webp);


}



.graphtemp{
	display: grid;
	grid-template-columns: 800px 800px;
	gap: 0px;
}


#wrapper {
    display: flex;
}

#map {
    width: 1200px;

}

#bar {
    width: 600px;



}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 2px;
}

.expect{ 
    padding-top: 40em;
    padding-bottom: 40em;
    background-size: cover;
    background-attachment: fixed; 
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(../images/hand-painted-watercolor-abstract-watercolor-background_23-2149009911.webp);
  
}

.img{ 
    height: 40vh; 
    margin: 10px 10px; 
}

