body{ 
    margin: 0;
    font-family: 'Noto Sans TC';
}

.headerdiv{ 
    text-align: center;

}

header{ 
   
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/Water-Background-Wallpaper-HD-14616.jpeg);
    justify-content: center;
    align-items: center;
    display: flex;

}

section{ 
    height: 100vh;
    background-size: cover;

}

p{ 
    font-size: 20px;
}

li{ 
    font-size: 20px;
}


h1{ 
    padding: 15px 10px; 
    text-align: center;
    color: #19405a;
    text-decoration: underline; 
    
}
.section1{ 
    background-size: cover;
    background-attachment: fixed; 
    background: linear-gradient(#6aaef7, #ffffff);
    justify-content: center;
    align-items: center;
    display: flex;
  
    
}

.divs{ 
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 70vw; 
    height: 80vh;
    
    
}

.divsec12{ 
   padding: 0px 30px;
   
}




.section2{ 

    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(#ffffff, #6aaef7);
    justify-content: center;
    align-items: center;
    display: flex;
   
}



.sec2div2{ 
    padding: 0px 30px;
}

.section3{ 
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(#6aaef7, #ffffff);
    justify-content: center;
    align-items: center;
    display: flex;

}

.img1{ 
  
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/flood1.jpeg);
    background-position: bottom;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
}

.img1div{ 
    align-items: center;
    color: #ffffff;
}

.img2{ 
  
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/flood2.webp);
    background-position: bottom;


    

}

.img3{ 
   

    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/flood3.jpeg);

    

}

.section4{
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(#ffffff, #6aaef7);


}

.graphtemp{ 
    background: linear-gradient(#6aaef7, #ffffff);

}

.section5{
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(#ffffff, #6aaef7);


}

.floodgraph{
   
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(#6aaef7, #ffffff);


}






#wrapper {
    display: flex;
}

#map {
    width: 1200px;

}

#bar {
    width: 600px;



}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 2px;
}